.intro .content .separator-container .separator {
  margin: 0 auto 1em;
  width: 20em; }
  @media (max-width: 768px) {
    .intro .content .separator-container .separator {
      width: 12em; } }

.intro .content .separator-container .separator.line-separator::before, .intro .content .separator-container .separator.line-separator::after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 15px;
  border: 1px solid #fff; }

/*-----------Normalize file-----------*/
/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-decoration: none; }

img {
  height: auto;
  width: 100%; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.padding-0 {
  padding-right: 0;
  padding-left: 0; }

.padding-default {
  padding-right: 15px;
  padding-left: 15px; }

#myModal li {
  list-style-type: none;
  margin-bottom: 0.5em; }

.navbar {
  background: white;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }

.affix {
  top: -50px; }

.navbar-nav {
  /* desktop */
  /* Tablet */
  /* Mobile */ }
  .navbar-nav .btn-custom {
    background: transparent;
    line-height: 1.5rem;
    cursor: pointer;
    /* Tablet */
    /* Mobile */ }
    @media (max-width: 992px) {
      .navbar-nav .btn-custom {
        font-size: 0.9em; } }
    @media (max-width: 768px) {
      .navbar-nav .btn-custom {
        font-size: 1rem; } }
  @media (min-width: 992px) {
    .navbar-nav {
      margin-left: 0;
      height: 40px; } }
  @media (max-width: 992px) {
    .navbar-nav {
      margin-left: 1em;
      height: 40px; } }
  @media (max-width: 768px) {
    .navbar-nav {
      margin-left: 0;
      height: auto; } }
  .navbar-nav .nav-item {
    /* desktop */
    /* Tablet */
    /* Mobile */ }
    @media (min-width: 992px) {
      .navbar-nav .nav-item {
        margin-left: 2em; } }
    @media (max-width: 992px) {
      .navbar-nav .nav-item {
        margin-left: 0;
        font-size: 0.9em; } }
    @media (max-width: 768px) {
      .navbar-nav .nav-item {
        margin-left: 0;
        font-size: 1rem; } }
  .navbar-nav .dropdown-item {
    font-size: 1rem; }
    @media (max-width: 992px) {
      .navbar-nav .dropdown-item {
        font-size: 0.9em; } }
    @media (max-width: 768px) {
      .navbar-nav .dropdown-item {
        font-size: 1rem; } }

.navbar-nav .nav-link {
  color: black; }
  .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:active {
    color: #85B557;
    border-bottom: 2px solid #85B557; }
    @media (max-width: 768px) {
      .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:active {
        border: none; } }
  .navbar-nav .nav-link.active {
    color: #85B557; }

.toggle-wrap {
  position: relative;
  cursor: pointer;
  /*disable selection*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.toggle-bar {
  width: 38px;
  margin: 10px 0;
  position: relative;
  border-top: 6px solid #303030;
  display: block; }

.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background: #303030;
  height: 6px;
  width: 38px;
  position: absolute;
  top: -16px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%; }

.toggle-bar::after {
  top: 4px; }

.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent; }

.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../images/hero.png") center center no-repeat;
  background-size: cover; }
  .intro:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    opacity: 0.8; }
  .intro .content {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    color: white;
    margin-top: 10em; }
    .intro .content img {
      margin: 0 auto;
      margin-bottom: 2em; }
    .intro .content .separator-container {
      text-align: center;
      position: relative; }
      .intro .content .separator-container .separator {
        color: #85B557; }
        .intro .content .separator-container .separator.line-separator::before {
          float: left; }
        .intro .content .separator-container .separator.line-separator::after {
          float: right; }
  .intro a.scroll-arrow {
    font-size: 35px;
    color: white;
    width: 50px;
    line-height: 52px;
    border-radius: 50%;
    height: 50px;
    border: 1px solid white;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1029;
    opacity: .9; }

#second .padding-top {
  padding-top: 4em;
  padding-bottom: 8em; }

#second .text {
  margin-top: 5em; }
  #second .text h4 {
    margin-bottom: 1em; }
  #second .text p {
    color: grey;
    margin-bottom: 0; }
  #second .text .margin-bottom {
    margin-bottom: 2em; }
  #second .text .tjanster {
    margin-top: 1em;
    background: #78db14;
    border: 1px solid transparent;
    color: white;
    border-radius: 25px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    #second .text .tjanster:hover, #second .text .tjanster:focus, #second .text .tjanster:active {
      cursor: pointer;
      color: white;
      background: #84f800;
      border: 1px solid transparent; }

#third {
  padding-top: 4em;
  padding-bottom: 4em;
  background: whitesmoke; }

#fourth {
  padding-top: 4em; }
  #fourth .container-fluid {
    padding-right: 15px;
    padding-left: 15px; }
  #fourth #cards {
    color: white; }
    #fourth #cards h3 {
      margin-bottom: 0.5em; }
    #fourth #cards .kort {
      padding: 3em; }
      @media (min-width: 992px) {
        #fourth #cards .kort {
          padding: 7em; } }
      #fourth #cards .kort .jobb {
        background: transparent;
        border: 1px solid white;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 0.7em;
        padding-top: 0.7em; }
    #fourth #cards .kort1 {
      background: #0ebdf1; }
    #fourth #cards .kort2 {
      background: #78db14;
      position: static;
      margin-top: 0;
      right: 0;
      box-shadow: none; }
      @media (min-width: 992px) {
        #fourth #cards .kort2 {
          background: #78db14;
          position: absolute;
          right: 40px;
          margin-top: 60px;
          -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
          padding: 5em; } }
      @media (max-width: 1354px) {
        #fourth #cards .kort2 {
          margin-top: 100px; } }
      @media (min-width: 1354px) {
        #fourth #cards .kort2 {
          margin-top: 80px; } }
      @media (max-width: 992px) {
        #fourth #cards .kort2 {
          margin-top: 0; } }

.parent {
  /* Mobile */ }
  @media (max-width: 768px) {
    .parent {
      padding-right: 5px;
      padding-left: 5px; } }
  .parent a:hover {
    text-decoration: none; }

.block-container {
  display: flex;
  align-self: center;
  width: 100%;
  height: 50vh;
  padding: 3em 4em;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: visible !important;
  transition: all .15s ease-in-out; }
  @media (max-width: 768px) {
    .block-container {
      height: 70vh; } }

.tjanster {
  background: transparent;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  cursor: pointer; }
  .tjanster > a {
    color: white;
    text-decoration: none; }

.block-container:before {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  display: block;
  z-index: 2;
  opacity: 0.75;
  transition: all 1s ease;
  content: ''; }

a {
  text-decoration: none; }

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  color: white; }
  .flex-container span {
    font-size: 1.5em;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em; }

.card1.block-color:before {
  background: #34a6fd; }

.card2.block-color:before {
  background: #413d3d; }

.card3.block-color:before {
  background: #e44e4e; }

.card4.block-color:before {
  background: #86eb3e; }

.card5.block-color:before {
  background: #f7d61b; }

.card6.block-color:before {
  background: black;
  opacity: 0.9; }

.card-stack {
  position: relative; }
  .card-stack .card-list {
    width: 100px; }
    .card-stack .card-list li {
      border: none;
      border-radius: 0;
      position: absolute;
      list-style: none;
      height: 200px;
      -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      background-size: cover; }
      .card-stack .card-list li:nth-child(1) {
        left: -200px;
        width: 300px;
        /* animation: scaleCard 100ms; */ }
      .card-stack .card-list li:nth-child(2) {
        top: 120px;
        left: 100px;
        width: 300px; }

.card-custom {
  overflow: hidden;
  min-height: 400px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); }

.card-custom-img {
  height: 250px;
  min-height: 250px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit; }

.btn-tjanster {
  background: #7bc234;
  border: 1px solid transparent;
  color: white;
  border-radius: 25px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .btn-tjanster:hover, .btn-tjanster:focus, .btn-tjanster:active {
    cursor: pointer;
    color: white;
    background: #71cf13;
    border: 1px solid transparent; }

.heading-container {
  position: relative;
  width: 100%;
  height: auto;
  background: url("../../images/hero.png") center center no-repeat;
  background-size: cover;
  margin-bottom: 0; }
  .heading-container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    opacity: 0.8; }
  .heading-container .content {
    z-index: 2;
    position: relative;
    color: #fff;
    padding: 1em;
    margin-top: 3em; }
    .heading-container .content h2 {
      margin-bottom: 0.5em; }
    .heading-container .content .header {
      margin-bottom: 1em; }
    .heading-container .content .other-info {
      margin-top: 1.5em; }
    .heading-container .content p {
      color: #f7f2f2; }
    .heading-container .content .checklistor {
      margin-bottom: 2.5em; }
      .heading-container .content .checklistor ul li {
        list-style-type: none; }
        @media (max-width: 768px) {
          .heading-container .content .checklistor ul li {
            font-size: 0.83em; } }
        .heading-container .content .checklistor ul li .icons {
          margin-right: 0.5em;
          color: #84ff00; }
    .heading-container .content .links {
      color: #84ff00;
      text-decoration: underline;
      background: transparent;
      border: none;
      border-radius: 0; }
      .heading-container .content .links:hover {
        color: #84ff00;
        text-decoration: underline;
        cursor: pointer; }
    .heading-container .content .card-profile {
      width: 100%;
      margin: 50px auto;
      background-color: whitesmoke;
      color: black;
      border-radius: 0;
      border: 0;
      box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
      padding-top: 15%; }
      .heading-container .content .card-profile p {
        color: black;
        padding: 1em;
        padding-top: 0;
        padding-bottom: 0; }
      .heading-container .content .card-profile .card-img-top {
        border-radius: 0; }
      .heading-container .content .card-profile .card-img-profile {
        max-width: 50%;
        border-radius: 50%;
        margin-top: -95px;
        margin-bottom: 35px;
        border: 5px solid whitesmoke; }
      .heading-container .content .card-profile .card-title {
        margin-bottom: 40px; }
        .heading-container .content .card-profile .card-title small {
          display: block;
          font-size: .7em;
          margin-top: .5em; }

#formular .tjanster {
  margin-top: 1em;
  background: #78db14;
  border: 1px solid transparent;
  color: white;
  border-radius: 25px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  #formular .tjanster:hover, #formular .tjanster:focus, #formular .tjanster:active {
    cursor: pointer;
    color: white;
    background: #84f800;
    border: 1px solid transparent; }

.footer-bs {
  background: #242222;
  padding: 60px 40px;
  color: white; }

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  padding: 10px 25px; }

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  border-color: transparent; }

.footer-bs .footer-brand img {
  margin-bottom: 1.5em; }

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.pages a {
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8); }

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.footer-bs .footer-social li {
  padding: 5px 4px; }

.footer-bs .footer-social a {
  color: white; }

.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1); } }
