.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.padding-default {
    padding-right: 15px;
    padding-left: 15px;
}

#myModal li {
    list-style-type: none;
    margin-bottom: 0.5em;
}