/* Universal */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

img{
  height: auto;
  width: 100%;
}
