%seperator {
    margin: 0 auto 1em;
    width: 20em;

    @media (max-width: 768px){
      width: 12em;
  }
}

%seperator2 {
    margin: 0 auto 2em;
    width: 11em;
}

%separator-border1 {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 15px;
    border: 1px solid #005AA7;
}

%separator-border2 {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 15px;
    border: 1px solid #fff;
}

// Paragraf-standarder

%paragraf-standard{
    @media (max-width: 768px){
        font-size: 1em;
        line-height: 1.4737;
    }

    line-height: 2em;
    color: #777777;
    font-size: 1.3em;
    margin-bottom: 4em;
}