#formular {
  .tjanster {
  margin-top: 1em;
  background: rgb(120, 219, 20);
  border: 1px solid transparent;
  color: white;
  border-radius: 25px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  &:hover, &:focus, &:active {
    cursor: pointer;
    color: white;
    background: rgb(132, 248, 0);
    border: 1px solid transparent;
  }
}
}