  .parent{
        /* Mobile */
        @media (max-width: 768px) {
          padding-right: 5px;
          padding-left: 5px;
      }

      a:hover {
        text-decoration: none;
      }
  }  
  
  .block-container {
    display: flex;
    align-self: center;
    width: 100%;
    height: 50vh;
    padding: 3em 4em;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: visible !important;
    transition: all .15s ease-in-out;

            @media (max-width: 768px) {
              height: 70vh;
      }
  }

  .tjanster {
    background: transparent; color: white; border-radius: 25px; border: 1px solid white; cursor: pointer;

    & > a {
      color: white;
      text-decoration: none;
    }
  }
  
  .block-container:before {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    display: block;
    z-index: 2;
    opacity: 0.75;
    transition: all 1s ease;
    content: '';
  }
  
  a {
    text-decoration: none;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    color: white;

    span {
      font-size: 1.5em;
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
  }


.card1.block-color:before {
  background: rgb(52, 166, 253);
}

.card2.block-color:before {
  background: rgb(65, 61, 61);
}

.card3.block-color:before {
  background: rgb(228, 78, 78);
}

.card4.block-color:before {
  background: rgb(134, 235, 62);
}

.card5.block-color:before {
  background: rgb(247, 214, 27);
}

.card6.block-color:before {
  background: black;
  opacity: 0.9;
}
