.card-custom {
  overflow: hidden;
  min-height: 400px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 250px;
  min-height: 250px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.btn-tjanster {
    background: rgb(123, 194, 52);
    border: 1px solid transparent;
    color: white;
    border-radius: 25px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    &:hover, &:focus, &:active {
        cursor: pointer;
        color: white;
        background: rgb(113, 207, 19);
        border: 1px solid transparent;
    }
}
