.heading-container {
    position: relative;
    width: 100%;
    height: auto;
    background: url('../../images/hero.png') center center no-repeat;
    background-size: cover;
    margin-bottom: 0;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      opacity: 0.8; 
    }
  

    .content {
        z-index: 2;
        position: relative;
        color: #fff;
        padding: 1em;
        margin-top: 3em;

        h2 {
            margin-bottom: 0.5em;
        }

        .header {
            margin-bottom: 1em;
        }

        .other-info {
            margin-top: 1.5em;
        }

        p {
            color: rgb(247, 242, 242);
        }

        .checklistor {
            margin-bottom: 2.5em;

            ul li {
                list-style-type: none;
                @media (max-width: 768px) {
                    font-size: 0.83em;
                }
    
                .icons {
                    margin-right: 0.5em;
                    color: rgb(132, 255, 0);
                }
            }
        }

        .links {
            color: rgb(132, 255, 0);
            text-decoration: underline;
            background: transparent;
            border: none;
            border-radius: 0;

            &:hover {
                color: rgb(132, 255, 0);
                text-decoration: underline;
                cursor: pointer;
            }
        }

        $bg-start: #9d9181;
        $bg-end: #9e866c;
        $card-bg: whitesmoke;
        $dribbble-color: #ea4b89;
        $twitter-color: #68aade;
        $facebook-color: #3b5999;
        
        .card-profile {
          width: 100%;
          margin: 50px auto;
          background-color: $card-bg;
          color: black;
          border-radius: 0;
          border: 0;
          box-shadow: 1em 1em 2em rgba(0,0,0,.2);
          padding-top: 15%;
          
          p {
              color: black;
              padding: 1em;
              padding-top: 0;
              padding-bottom: 0;
          }
          
          .card-img-top {
            border-radius: 0;
          }
        
          .card-img-profile {
            max-width: 50%;
            border-radius: 50%;
            margin-top: -95px;
            margin-bottom: 35px;
            border: 5px solid $card-bg;
          }
        
          .card-title {
            margin-bottom: 40px;
        
            small {
              display: block;
              font-size: .7em;
              margin-top: .5em;
            }
          }
        }
        
}
}
