.navbar {
    background: white;
    transition:all 0.2s linear; 
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.affix {
    top: -50px;  
   }

.navbar-nav {

    .btn-custom {

        background: transparent;
        line-height: 1.5rem;
        cursor: pointer;
            /* Tablet */
    @media (max-width: 992px) {
        font-size: 0.9em;
    }

        /* Mobile */
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    /* desktop */
    @media (min-width: 992px) {
        margin-left: 0;
        height: 40px;
    }

    /* Tablet */
    @media (max-width: 992px) {
        margin-left: 1em;
        height: 40px;
    }

    /* Mobile */
    @media (max-width: 768px) {
        margin-left: 0;
        height: auto;
    }

    .nav-item {
        
        /* desktop */
        @media (min-width: 992px) {
            margin-left: 2em;
        }

        /* Tablet */
        @media (max-width: 992px) {
            margin-left: 0;
            font-size: 0.9em;
        }

        /* Mobile */
        @media (max-width: 768px) {
            margin-left: 0;
            font-size: 1rem;
        }
    }

    .dropdown-item {
        font-size: 1rem;

        @media (max-width: 992px) {
            font-size: 0.9em;
        }

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}


.navbar-nav .nav-link {
    color: black;

    &:hover, &:focus, &:active{
        color: #85B557;
        border-bottom: 2px solid #85B557;
        

        @media (max-width: 768px) {
            border: none;
        }
    }

    &.active {
        color: #85B557;
    }
}

.toggle-wrap {
    position: relative;
    cursor: pointer;
    
    /*disable selection*/
    -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .toggle-bar,
  .toggle-bar::before,
  .toggle-bar::after,
  .toggle-wrap.active .toggle-bar,
  .toggle-wrap.active .toggle-bar::before,
  .toggle-wrap.active .toggle-bar::after {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }
  .toggle-bar {
      width: 38px;
      margin: 10px 0;
      position: relative;
      border-top: 6px solid #303030;
      display: block;
  }
  .toggle-bar::before,
  .toggle-bar::after {
      content: "";
      display: block;
      background: #303030;
      height: 6px;
      width: 38px;
      position: absolute;
      top: -16px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -ms-transform-origin: 13%;
      -webkit-transform-origin: 13%;
      transform-origin: 13%;
  }
  .toggle-bar::after {
    top: 4px;
  }
  .toggle-wrap.active .toggle-bar {
    border-top: 6px solid transparent;
  }
  .toggle-wrap.active .toggle-bar::before {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  .toggle-wrap.active .toggle-bar::after {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }