#fourth {
    padding-top: 4em;

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    #cards {
        color: white;
        h3{
            margin-bottom: 0.5em;
        }

        .kort {
            padding: 3em;
            @media (min-width: 992px) { 
                padding: 7em;
             }
            .jobb {
                background: transparent;
                border: 1px solid white;
                padding-left: 3em;
                padding-right: 3em;
                padding-bottom: 0.7em;
                padding-top: 0.7em;
            }
        }
        .kort1 {
            background: rgb(14, 189, 241);
        }
        .kort2 {
            background: rgb(120, 219, 20);
            position: static;
            margin-top: 0;
            right: 0;
            box-shadow: none;
            @media (min-width: 992px) { 
                background: rgb(120, 219, 20);
                position: absolute;
                right: 40px;
                margin-top: 60px;
                -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
                box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);  
                padding: 5em;
             }
             @media (max-width: 1354px) {
                margin-top: 100px;
            }
            @media (min-width: 1354px) {
                margin-top: 80px;
            }
            @media (max-width: 992px) {
                margin-top: 0;
            }
             
        }
    }
}