.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../images/hero.png') center center no-repeat;
    background-size: cover;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      opacity: 0.8; 
    }
  

    .content {
        text-align: center;
        z-index: 2;
        position: relative;
        color: #fff;

        img {
            margin: 0 auto;
            margin-bottom: 2em;
        }

        color: white;
        margin-top: 10em;

        .separator-container {
            text-align: center;
            position: relative;
      
            .separator {
                color: map-get($light, primary);
                @extend %seperator;
      
                &.line-separator{
                    &::before{
                        @extend %separator-border2;
                        float: left;
                    }
                    &::after{
                        @extend %separator-border2;
                        float: right;
                    }
                }
            }
    }
    }

    a.scroll-arrow {
        font-size: 35px;
        color: white;
        width: 50px;
        line-height: 52px;
        border-radius: 50%;
        height: 50px;
        border: 1px solid white;
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1029;
        opacity: .9;
    }
}
