$default-diff:  120px;
$default-width: 300px;

    .card-stack {
        position: relative;
        
        .card-list {
            width: 100px;

            li {
                border: none;
                border-radius: 0;
                position: absolute;
                list-style: none;
                height: 200px;
                -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
                box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);    
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                background-size:cover;

                &:nth-child(1) {
                    left: -200px;
                    width: $default-width;
                    /* animation: scaleCard 100ms; */
                }
                &:nth-child(2) {
                    top: $default-diff;
                    left: 100px;
                    width: $default-width;
                }
            }

        }
    }
